<% include partials/header %>

<h1>THIS IS THE CAMPGROUNDS PAGE</h1>

<a href="/campgrounds/new">Add new Campground</a>

<% campgrounds.forEach(campground => { %>
<div>
  <h4><%= campground.name %></h4>
  <img src="<%= campground.image %>" alt="campgroundImage" />
</div>
<% }); %>

<% include partials/footer %>

